.adminMusics {
    text-align: center;
    background-color: white;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.adminMusicsBody {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: calc(100vh - 60px);
}

.adminMusicsCard {
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 150px);
    width: calc(100vw - 180px);
    padding: 60px;
    padding-bottom: 0px;
}

#adminMusicsHeader button {
    display: block;
    width: 120px;
    border: none;
    background-color: #7DAFFF;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    min-height: 44px;
    color: #25344D;
    font-weight: bold;
    box-shadow: 2px 2px 5px #25344D;
}

#adminMusicsHeader button:disabled {
    background-color: #c2c2c2;
    color: #25344D;
    cursor: default;
}

#adminMusicsHeader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #25344D;
}

.adminMusicsEditBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textualMusicEdit {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#musicEditName {
    width: 500px;
}

#planDiv {
    margin-left: 40px;
}
