.adminClients {
    text-align: center;
    background-color: white;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.adminClientsBody {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: calc(100vh - 60px);
}

.adminClientsCard {
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 150px);
    width: calc(100vw - 180px);
    padding: 60px;
    padding-bottom: 0px;
}

#adminClientsHeader button {
    display: block;
    width: 120px;
    border: none;
    background-color: #7DAFFF;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    min-height: 44px;
    color: #25344D;
    font-weight: bold;
    box-shadow: 2px 2px 5px #25344D;
}

#adminClientsHeader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #25344D;
}

.clientsTable {
    width: 100%;
    margin-top: 20px;
}

.clientsTable thead {
    background-color: #25344D;
    color: #E5E5E5;
    line-height: 40px;
}

.clientsTable tbody {
    background-color: white;
    color: #25344D;
    line-height: 40px;
}

.clientsActionColumn {
    width: 50px;
    box-align: center;
    padding: 5px;
}

.clientsActionColumn > * {
    margin-left: 5px;
}

.clientsTable tfoot {
    background-color: #25344D;
    color: #E5E5E5;
    line-height: 40px;
}