body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.labelInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.labelInput label {
  font-weight: 500;
  margin-bottom: 5px;
}

.labelInput input {
  line-height: 32px;
}

.labelInput select {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  font-size: 12px;
}